#title {
    padding-left: 50px;
}

body {
    font-family: 'Playfair Display', serif;
}

.carousel{
    width: 760px;
    height: 400px;
    margin-left: 20px;
}

#headlines {
    margin-left: 60px;
}

#sources {
    width: 1500px;
    height:60px;
    background-color:black;
    color: white;
    margin-bottom: 5px;
    left: 0;
    right: 0;
}

#formacros {
    width:500px;
}

.btn {
    background-color: red;
}

.carousel-caption{
    width: 700px;
    background-color: black;
    text-align: center;
    left:4%;
    bottom:0;
    opacity: 0.9;
}

.card {
    margin:0;
    height:400px;
}

li:hover {
    background-color: rgb(230, 144, 144);
    color: black;
}

#newsresults {
    margin:2px;
    margin-bottom:2px;
}

a {
    color: black;
}

.nav-item{
    margin-left:10px;
}