{% extends 'base.html'%}
{% block content %}
    <div class="wrapper" style="height:768px;width:1300px;margin:0;">
            <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
            <div class="row" style="font-family: 'Cute Font', cursive;margin-left:400px;">
                <h1 style="margin-left:3px;">WHOOOPS we can't find that page</h1>
                <img src="https://media1.giphy.com/media/3ohjVa8nLo32RfjxAc/giphy.gif">
            </div>
    </div>
{% endblock %}